<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <title>mot de passe oublié</title>
</head>
<body>
<header>
    <div class="container-fluid" style="background-color: #22B3A4;">
        <div class="container-fluid">
            <div  class="row">
                <div style="display: inline; text-align: center"  id="test" class="col-md-5">
                    <img src="cid:Capture.png"
                       style="display: block;margin-left: auto;margin-right: auto;"/></div>

                <div class="col-md-7"  style="display: inline">

                    <p>
                    <H1 style="color: white;text-align: center ;padding-top: 30px;">Mot de Passe<br>
                    </H1>
                    </p>
                    <p >
                    <H1 style="color: white;text-align: center;margin-top: -15px;">oublié
                    </H1>
                    </p>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <H1 style="text-align: center;margin-top: 65px ;">

            Pour réinitialiser votre mot de passe du compte {{name}},<br> cliquez sur le bouton ci-dessous.
        </H1>
    </div>
</div>
<div class="container"  style="margin-top: 45px ;">
    <div class="row">

        <a style="text-align: center;">
            <form style="text-align: center;">
            <button   type="submit" class="btn  btn-lg" style="background-color: #22B3A4;"><p style="padding-left: 10px;padding-right: 10px;margin-bottom: -3px;margin-top: -3px;">
                <a style="padding-left: 10px;padding-right: 10px;margin-bottom: -3px;margin-top: -3px;color: white;text-decoration:none;" href ='https://{{link}}'>Réinitialiser le mot de passe</a>
            </p>
            </button>
            </form>
        </a>

    </div>
    <div class="row" style="margin-top: 35px ;">
        <a style="text-align: center;">
            <H3>Cordialement,</H3>
        </a>
    </div>
    <div class="row" style="margin-top: 45px ;">
        <a style="text-align: center;">
            <H3>L'équipe Mindful House</H3>
        </a>
    </div>
    <div class="row" style="margin-top: 45px ;">
        <a style="text-align: center;">
            <i><H4>Si vous n'êtes pas à l'origine de cette requête, changez <br>votre mot de passe à partir de votre espace personnel</H4></i>
        </a>
    </div>
</div>
<footer>
    <div class="container-fluid" style="background-color: #22B3A4;margin-top:80px">
        <div class="row">
            <p >
            <h2 style="color:white;text-align: center;">
                57 Boulevard Demorieux<br></h2>
            <h2 style="color:white;text-align: center;">72000, Le Mans<br></h2>
            <h2 style="color:white;text-align: center;">Tél : +332 43 47 39 92<br></h2>
            <H2 style="color:white;text-align: center;">Email : contact@mindful-house.fr</H2>
            </h2>
            </p>
        </div>
    </div>
</footer>


</body>
</html>
